<div class="container" style="padding-top: 150px;" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"
    fxLayoutAlign="center" ngClass.xs="mobileContainer">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card style="border-style:ridge;">
            <mat-card-header>
                <mat-card-title>Log In</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="col">
                    <div class="row">
                        <mat-form-field class="full-width">
                            <input id="email" name="email" matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input type="password" matInput placeholder="Password" formControlName="password" required>
                            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                                Please enter password
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <a  routerLink="../forgot-password">Forgot Password ?</a>
                    </div>
                    <div>
                        <a routerLink="../register">Register ?</a>
                    </div>
                    <br>
                    <div>
                        <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <app-add-cancel-btn (onClick)="functioncall($event)" (onClick2)="functioncall2($event)" [label]="label" [label2]="label2"></app-add-cancel-btn>
            </mat-card-actions>
        </mat-card>
    </form>
</div>